body {
  background-color: #f8e8a6;
}
h1 {
  font-size: 32px;
  font-weight: bold;
}
.nav-links {
  margin: 20px 0;
}
.nav-links ul {
  padding: 0;
  margin: 0;
  text-align: center;
}
.nav-links ul li {
display: inline-block;
margin: 0 10px;
}
.nav-links ul li a {
  font-size: 16px;
  color: #008000;
}

.image {
  display: block;
  margin: 0 auto;
}